@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Light mode styles */
body {
  background-color: theme('colors.light.bg');
  color: theme('colors.light.text');
}

/* Dark mode styles */
html.dark body {
  background-color: theme('colors.dark.bg');
  color: theme('colors.dark.text');
}
